.add {
  background-color: white;
  padding: 40px 50px;

  &__form {
    &__input {
      position: relative;
      width: 100%;
      margin-bottom: 10px;

      & > label {
        position: absolute;
        background-color: white;
        text-transform: uppercase;
        color: gray;
        padding: 0 5px;
        font-size: 10px;
        top: -7px;
        left: 10px;
      }

      & > input {
        box-sizing: border-box;
        text-transform: uppercase;
        width: 100%;
        display: block;
        height: 40px;
        border: 1px gray solid;
        padding: 0 15px;
        border-radius: 5px;
      }
    }

    &__button {
      cursor: pointer;
      background-color: red;
      border-radius: 20px;
      border: none;
      color: white;
      width: 100%;
      height: 40px;
      margin-bottom: 30px;

      &:disabled {
        opacity: 0.5;
      }
    }
  }

  &__note {
    margin: 0;
    text-align: center;
    color: gray;
  }
}