.app {
  background-color: darkslateblue;
  background-image: url("./../assets/images/figure.png"), url("./../assets/images/bg.png");
  background-size: 450px, contain;
  background-position: center bottom, top right;
  background-repeat: no-repeat;
  box-sizing: border-box;
  min-height: 880px;
  padding: 200px 0;
  display: flex;

  &__description {
    & > h1 {
      color: white;
    }

    & > p {
      color: lightgray;
    }
  }
}