.list {
  padding: 0;
  margin: 0;
  max-height: 240px;
  overflow: auto;

  &__item {
    position: relative;
    list-style: none;
    display: flex;
    align-items: center;
    padding: 15px 0;

    & > img {
      margin-right: 30px;
    }

    &__info {

    }

    &__title {
      color: white;
      font-size: 16px;
    }

    &__value {
      color: gray;
      font-size: 14px;
    }

    &__delete {
      position: absolute;
      right: 0;
      top: calc(50% - 3px);
      cursor: pointer;
      font-size: 25px;
      color: gray;
      line-height: 0;
    }

    &:before {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background: linear-gradient(90deg, rgba(255, 255, 255, 0.5) 0%, rgba(222, 222, 222, 0) 100%);
    }
  }
}